!----------------------------------------------------------
! Xft settings
!----------------------------------------------------------

Xft.antialias: true
Xft.dpi: 100
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb
