SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/home/alex/bin/set-brightness.sh bat"
SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/home/alex/bin/set-brightness.sh ac"
